.contenedorDeTarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloLoader {
    height: calc(100dvh - 106px - 84px); // Este cálculo se hace para que se vea el 100% de la pantalla de manera prolija
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222831;
    color: white;
    font-size: 2rem;
    text-align: center;
}