div {
    text-align: center;
    h1 {
        font-size: 40px;
        font-style: italic;
        background-color: #222831;
        text-align: center;
        display: inline-block;
        padding: 20px;
        border-radius: 20px;
    }
}