div {
    text-align: center;

    .contenedorEncabezados {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: 40px;
            font-style: italic;
            background-color: #222831;
            text-align: center;
            display: inline-block;
            padding: 20px;
            border-radius: 20px;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 30px;
            background-color: #222831;
            text-align: center;
            display: inline-block;
            padding: 20px;
            border-radius: 20px;
        }
    }

    a {
        .fotoPortada {
            border-radius: 20px;
            margin: 20px;
        }
    }

    .contenedorWeb {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: 40px;
            font-style: italic;
            background-color: #222831;
            text-align: center;
            display: inline-block;
            padding: 20px;
            border-radius: 20px;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 30px;
            background-color: #222831;
            text-align: center;
            display: inline-block;
            padding: 20px;
            border-radius: 20px;
        }
    }

    a {
        .fotoWeb {
            border-radius: 20px;
            margin: 20px;
        }
    }
}

h1 {
    font-size: 40px;
    font-style: italic;
    background-color: #222831;
    text-align: center;
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}


// MEDIA QUERIES

@media screen and (max-width:1329px) {
    .contenedorEncabezados {
        a {
            .fotoPortada {
                width: 80%;
            }
        }
    }

    .contenedorWeb {
        a {
            .fotoWeb {
                width: 80%;
            }
        }
    }
}

@media screen and (max-width:1080px) {
    .contenedorEncabezados {
        a {
            .fotoPortada {
                width: 75%;
            }
        }
    }

    .contenedorWeb {
        a {
            .fotoWeb {
                width: 75%;
            }
        }
    }
}

@media screen and (max-width:885px) {
    div {
        .contenedorEncabezados {
            h1 {
                font-size: 30px;
            }

            h2 {
                font-size: 20px;
            }
        }

        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 20px;
        }

        .contenedorWeb {
            h1 {
                font-size: 30px;
            }

            h2 {
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width:672px) {
    div {
        .contenedorEncabezados {
            h1 {
                font-size: 25px;
            }

            h2 {
                font-size: 15px;
            }
        }

        h1 {
            font-size: 25px;
        }

        h2 {
            font-size: 15px;
        }

        .contenedorWeb {
            h1 {
                font-size: 25px;
            }

            h2 {
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width:581px) {
    div {
        .contenedorEncabezados {
            h1 {
                font-size: 20px;
            }

            h2 {
                font-size: 15px;
            }
        }

        h1 {
            font-size: 20px;
        }

        h2 {
            font-size: 15px;
        }

        .contenedorWeb {
            h1 {
                font-size: 20px;
            }

            h2 {
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width:448px) {
    div {
        .contenedorEncabezados {
            h1 {
                font-size: 15px;
            }
        }
    }
}