.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(13, 13, 13, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    pointer-events: all;
    backdrop-filter: blur(4px);

    .loader-icon {
        width: 200px;
        height: 200px;
        object-fit: contain;
        filter: drop-shadow(0 0 10px #222831);
    }
}