.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: black;
    width: 100%;

    .logo {
        padding-left: 15px;
        padding-right: 15px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        border-radius: 0;
        padding-right: 15px;

        li {
            list-style: none;
            margin: 10px;
            font-size: 20px;

            .isActive {
                text-decoration: none;
                color: green;
                transition: color 1s;

                &:hover {
                    color: orangered
                }
            }

            .notActive {
                text-decoration: none;
                color: white;
                transition: color 1s;

                &:hover {
                    color: orangered
                }
            }
        }
    }
}


// MEDIA QUERIES

@media screen and (max-width:617px) {
    .navbar {
        ul {
            li {
                a {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width:536px) {
    .navbar {
        ul {
            li {
                a {
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (max-width:473px) {
    .navbar {
        flex-direction: column;
    }
}