.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 20px;

    img {
        border-radius: 20px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #222831;
        border-radius: 20px;

        li {
            list-style: none;
            margin: 10px;
            font-size: 25px;

            .isActive {
                text-decoration: none;
                color: green;
                transition: color 1s;

                &:hover {
                    color: orangered
                }
            }

            .notActive {
                text-decoration: none;
                color: white;
                transition: color 1s;

                &:hover {
                    color: orangered
                }
            }
        }
    }
}